---
import "../styles/global.css";
---

<div class="center h-200">
<div class="shadow-lg/100 shadow-red-200 w-60 h-70">
  <div
    class="grid content-center grid-cols-1 grid-rows-4 gap-3  justify-items-center"
    style="align-content: center;"
  >
    <div class="row-start-1" style="align-content: center;">
      <div>
        <p class="text-3xl font-bold  text-red-300 gap-5 font-mono">In Time</p>
      </div>
    </div>
    <div class="row-start-3">
        <p class="font-mono text-red-300">Username</p>
      <input
        class="box-shadow outline-solid drop-shadow font-sans text-red-300"
        type="text"
      />
    </div>
    <div class="row-start-4">
        <p class="font-mono text-red-300" >Password</p>
      <input
        class="box-shadow outline-solid drop-shadow font-sans text-red-300"
        type="text"
      />
    </div>
  </div>
</div>
</div>

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block {
    display: block;
  }
  .inner {
    position: absolute;
  }
</style>
